# 随机种子，用于确保实验可重复性
seed: 0
# 是否使用确定性算法，设置为true可以确保结果可重复，但可能影响性能
deterministic: false
# 模型检查点（checkpoint）相关配置
checkpoint_config:
  interval: 1          # 每隔多少个epoch保存一次检查点
  max_keep_ckpts: 1    # 最多保存多少个检查点文件
  save_last: false
# evalhook配置
evaluation:
  interval: 1 # 每epoch验证一次
  pipeline: ${test_pipeline}
  save_best: 'object/map'
  rule: 'greater'
# 日志配置
log_config:
  interval: 50         # 每隔多少次迭代输出一次日志
  hooks:               # 日志钩子，用于定义日志输出方式
    -
      type: TextLoggerHook        # 文本日志输出
    -
      type: TensorboardLoggerHook # Tensorboard可视化日志输出

load_from: null # 预训练模型加载路径，null表示不加载

resume_from: null # 断点续训路径，null表示从头开始训练

cudnn_benchmark: false # 是否启用cudnn的基准测试模式，可能提高性能但会增加显存使用
# fp16混合精度训练相关配置
fp16:
  loss_scale:
    growth_interval: 2000   # loss scale自动增长的间隔
#TODO 最大训练轮数 尽量高些 另外这个设置会影响余弦退火策略 越高学习率衰减越慢  20太长了
max_epochs: 20
# 训练器配置
runner:
  type: CustomEpochBasedRunner  # 使用自定义的基于epoch的训练器
  max_epochs: ${max_epochs}     # 引用上面定义的最大训练轮数

init_lr: 1.0e-4 # 2.0e-4 5.0e-5 1e-4  
optimizer:
  type: AdamW
  lr: ${init_lr}   # 1.0e-5 从10轮中断处恢复
  weight_decay: 0.01

optimizer_config:
  grad_clip:
    max_norm: 35
    norm_type: 2

lr_config: 
  policy: CosineAnnealing  # cyclic
  warmup: linear
  warmup_iters: 500
  warmup_ratio: 0.33333333
  min_lr_ratio: 1.0e-3

momentum_config:
  policy: cyclic

find_unused_parameters: false # 对于未参与梯度计算的参数 不同步  若不锁权重就设置为False  
model_freeze_config:
  frozen_stages: -1  # -1 表示不冻结
  # frozen_params:
  #   stage0:
  #     lr: ${init_lr}
  #     encoder_camera_backbone: true
  #     encoder_lidar_backbone: true
  #     fuser: true
  #     decoder_backbone: true
  #     decoder_neck: true
  #     head_object: true
  #   stage1:
  #     lr: 1.0e-4
  #     encoder_camera_backbone: true
  #     encoder_lidar_backbone: true
  #     fuser: true
  #     decoder_backbone: true
  #     decoder_neck: true
  #   stage2:
  #     lr: 5.0e-5
  #     encoder_camera_backbone: true
  #     encoder_lidar_backbone: true
  #   stage3:
  #     lr: 2.5e-5
  frozen_params:
    stage0:
      lr: ${init_lr}
      encoder_camera_backbone: true
      encoder_camera_neck: true
      encoder_camera_vtranform: true
      encoder_lidar_backbone: true
      fuser: true
      decoder_backbone: true
      decoder_neck: true
      head_object: true
    stage1:
      lr: ${init_lr}
      encoder_camera_backbone: true
      encoder_camera_neck: true
      encoder_camera_vtranform: true
      encoder_lidar_backbone: true
      fuser: true
      decoder_backbone: true
      decoder_neck: true
    stage2:
      lr: ${init_lr}
      encoder_camera_backbone: true
      encoder_camera_neck: true
      encoder_camera_vtranform: true
      encoder_lidar_backbone: true
      fuser: true
    stage3:
      lr: ${init_lr}
      encoder_camera_backbone: true
      encoder_camera_neck: true
      encoder_camera_vtranform: true
      encoder_lidar_backbone: true
    stage4:
      lr: ${init_lr}



      


